html,
body {
    margin: 0;
    padding: 0;
    background-image: url("OIP-C.jpg");
    background-size: 100%;
}

#im {
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 100%;
    left: 550px;
    top: 50px;
    box-shadow: 0 0 20px black;
    
}
#em {
    background-color: black;
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 100%;
    left: 550px;
    top: 50px;
    background: radial-gradient(circle at 10% 20%, rgba(255, 255, 255, 0.8) 0.1%, transparent 50%);
    box-shadow: inset 0 0 35px black; /* 内测阴影效果 */
}

#clock {
    position: absolute;
    left: 500px;

}

p {
    font-style: italic;
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

#p1 {
    position: absolute;
    left: 815px;
    top: 65px;
    clear: both;
}

#p2 {
    position: absolute;
    left: 875px;
    top: 118px;
    clear: both;
}

#p3 {
    position: absolute;
    left: 899px;
    top: 201px;
    clear: both;
}

#p4 {
    position: absolute;
    left: 875px;
    top: 283px;
    clear: both;
}

#p5 {
    position: absolute;
    left: 815px;
    top: 338px;
    clear: both;
}

#p6 {
    position: absolute;
    left: 740px;
    top: 356px;
    clear: both;
}

#p7 {
    position: absolute;
    left: 665px;
    top: 339px;
    clear: both;
}

#p8 {
    position: absolute;
    left: 600px;
    top: 283px;
    clear: both;
}

#p9 {
    position: absolute;
    left: 578px;
    top: 200px;
    clear: both;
}

#p10 {
    position: absolute;
    left: 600px;
    top: 118px;
    clear: both;
}

#p11 {
    position: absolute;
    left: 650px;
    top: 65px;
    clear: both;
}

#p12 {
    position: absolute;
    left: 732px;
    top: 43px;
    clear: both;
}

#txtClock {
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(233, 7, 18);
    text-align: center;
    font-style: italic;
    width: 170px;
    background-color: rgb(236, 236, 243);
    height: 40px;
    position: absolute;
    left: 668px;
    top: 300px;
    clear: both;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}